@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,500;1,300&display=swap');


* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* =========================NAVBAR=========================== */
nav{
    position: fixed;
    width: 100%;
}

ul {
    display: flex;
    list-style: none;
    color: white;
    padding: 30px;
    padding-left: 15vw;
    padding-right: 15vw;
    justify-content: space-between;
    background: linear-gradient(rgba(17, 0, 0, 0.827), transparent);
}
.navbar {
    color: white;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
}

a:hover{
    font-weight: 900;
    color: brown;
    text-shadow: 1px 1px 1px rgb(0, 6, 31);
    transition: color 0.4s;
}

#nav1{
    animation: fadeInDown;
    animation-duration: 2s;
}
#nav2{
    animation: fadeInDown;
    animation-duration: 4s;
}
#nav3{
    animation: fadeInDown;
    animation-duration: 5s;
}
#nav4{
    animation: fadeInDown;
    animation-duration: 6s;
}

@media (max-width:768px) {
    nav{
        display: none;
    }
}
/* =========================NAVBAR=========================== */

section{
    width: 100%;
    min-height: 100vh;
}

section:nth-of-type(1){
    background-image: url(img/background1.png);
    background-color: rgba(0, 0, 0, 0.359);
    background-blend-mode: darken;
    background-position: top right;
    background-size: cover;
}
section:nth-of-type(2){
    background-image: url(img/background2.png);
    background-color: rgba(0, 0, 0, 0.447);
    background-blend-mode: darken;
    background-position: top right;
    background-size: cover;
}
section:nth-of-type(3){
    background-image: url(img/background3.png);
    background-color: rgba(0, 0, 0, 0.645);
    background-blend-mode: darken;
    background-position: top right;
    background-size: cover;
}
section:nth-of-type(4){
    background-image: url(img/4IrNOr7HFCTjfO5L2vhj_2x_2x_2.4038x.webp);
    background-color: rgba(0, 0, 0, 0.359);
    background-blend-mode: darken;
    background-position: top right;
    background-size: cover;
}

.title{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: "Mulish";
    padding: 35vh 30px 30px 30px;
    animation: backInLeft; 
    animation-duration: 4s; 
}
.title > p {
    font-weight: 300;
    margin-left: 5vw;
    margin-right: 5vw;
    

}
.title > h1{
    font-weight: 800;
    font-size: 6vw;
}

@media (max-width: 690px) {
    body{
        padding: 0px;
        margin: 0;
    }
    .title{
        margin: 0;
        padding: 0;
        text-align: center;
        padding-top: 30vh;
    }
    .title > h1{
        font-size: 4.1rem;
    }
}

/* ==============================FACTS============================== */
.title2{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: "Mulish";
    padding: 30vh 30px 30px 30px;
    animation: backInLeft; 
    animation-duration: 4s;
}
.title2 > h1{
    font-weight: 800;
    font-size: 6vw;
}
.article{
    max-width: 700px;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 4px;
    padding: 5px;
    margin-top: 20px;
}
.title2 > p:hover{
    background-color: transparent;
    color: white;
    transition: all 0.475s;
}
@media (max-width: 690px) {
    body{
        padding: 0px;
        margin: 0;
    }
    .title2{
        margin: 0;
        padding: 0;
        text-align: center;
        padding-top: 15vh;
    }
    .title2 > h1{
        font-size: 4.1rem;
    }
    .article{
        margin: 5px 20px 5px 20px;
    }
}
/* ==============================FACTS END============================== */


/* ==============================ART============================== */
#art > div > h1 {
    display: flex;
    color: white;
    justify-content: center;
    font-family: "Mulish";
    padding: 10vh 30px 30px 30px;
    font-size: 3.9rem;
}

.art-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    gap: 20px;
}

.img-art:hover{
    transform: translateY(-20px);
    transition: all 0.600s;
    box-shadow: 4px 5px 15px rgb(56, 0, 120);
}

@media (max-width: 690px) {
    #img-art3 {
        display: none;
    }
    .art-container{
        padding-bottom: 60px;
    }
}
/* ==============================ART END============================== */


/* ==============================MORE============================== */
#more > div > h1 {
    display: flex;
    color: white;
    justify-content: center;
    font-family: "Mulish";
    padding: 20vh 30px 30px 30px;
    font-size: 3.9rem;
}
.embed-container {
    display: flex;
    justify-content: center;
}

@media (max-width: 690px) {
    iframe {
        width: 85vw;
        height: 60vw;
    }
}